<app-home></app-home>
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="pt-5 container mt-5 shadow mb-5 bg-body-tertiary rounded row col-5 card">
    <div class="container-fluid d-flex justify-content-between mb-3">
      <div class="">
        <h3 class="fw-bolder ps-1 mb-4">Sign Up</h3>
        <form>
          <div class="form-group mb-4">
              <div class="input-group">
                <div class="input-group-text" id="btnGroupAddon2"><i class="bi bi-person"></i></div>
                <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
            </div>
          </div>
          <div class="mb-4">
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Your Email">
          </div>
          <div class="mb-4">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="mb-4">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repeat Your Password">
          </div>
          <div class="mb-4">
            <input type="role" class="form-control" id="exampleInputPassword1" placeholder="Select Role">
          </div>
          <div class="mb-4 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I agree to all statements in <u class="text-primary cursor-pointer">Terms of service</u></label>
          </div>
          <button type="submit" class="btn btn-primary col-12">Register</button>
        </form>
    </div>
    

    <div  class="col-6 pt-5">
      <img src="signin.jpg" alt="signup-image">
    </div>
</div>
</div>

