<app-home></app-home>
<div class="container mt-5 card shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="container-fluid d-flex justify-content-between mb-3">
      <div>
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
      </div>
      <div>
        <button class="btn btn-dark" [routerLink]="['/add']"><i class="bi bi-plus-lg"></i>New Task</button>
      </div>
    </div>
  
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Tittle</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Assignee</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks | search:searchText">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.dueDate}}</td>
            <td  [ngClass]="{'text-success': task.priority === 'Hard' , 'colour-for-low' : task.priority == 'Low' , 'colour-for-medium' : task.priority == 'Medium'}">{{task.priority}}</td>
            <td>{{task.assignee?.name}}</td>
            <td>
              <button type="button" class="btn btn-primary me-2" (click)="onEdit(task.id)"><i class="bi bi-pencil"></i></button>
              <button  type="button" class="btn btn-danger" (click)="OnDelete(task.id)"><i class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

