<div class="d-flex justify-content-center col-12">
    <form class="col-6 mt-4 bg-primary p-4 rounded-2 text-light" [formGroup]="profileForm1" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="nameHelp" name="name" formControlName="name"  required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" formControlName="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" id="password" aria-describedby="passwordHelp" name="password" formControlName="password"  required>
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumberHelp" name="phoneNumber" formControlName="phoneNumber"  required>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>